{% extends "layout.html" %}
{% block content %}
<!doctype html>
<title>Выбор формы</title>
<h1 align= 'center'>Юристы Мотор<br/>  </h1>
<ul class="nav nav-pills", align = 'center'>
  <a class="btn btn-primary" href="reclamation" role="button"> Рекламации </a>
  <a class="btn btn-primary" href="notary" role="button"> Счета/акты нотариусу</a>
  <a class="btn btn-primary" href="court_2610" role="button"> Шевченковский суд в Киеве</a>
   <a class="btn btn-primary" href="court_2606" role="button"> Печерский суд в Киеве</a>
    <a class="btn btn-primary" href="court_2601" role="button"> Голосеевский суд в Киеве</a>
</u1>
{% endblock %}