{% extends "layout.html" %}
{% block content %}
<!doctype html>
<h1  align = 'center'>Формирование претензий по рекламационным актам</h1><br/>
<form class="form-horizontal" method="post" enctype=multipart/form-data>
    <div align = 'center'>
        <p class="help-block">Выберете файл reclamation_list.xls</p>
        <input class="btn btn-danger" type="file" name= "file"><br/>
        <p><button class="btn btn-success btn-lg" type="submit">Сформировать</button>
        <p><a href="reclamation_examples/reclamation_list.xls" class="btn btn-primary">Скачать файл-форму reclamation_list.xls</a>
     </div>
</form>
{% endblock %}
